.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecdcec;
  width: 400px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 7px 7px 10px #ece726;
}

.title {
  font-size: 25px;
  font-weight: 700;
}
